<form class="form-login" method="find_escola" action="#">
    
        <div class="form-log-in-with-email">
    
            <div class="form-white-background">
    
                <div class="form-title-row">
                    <h1>Gerador de Listas</h1></br></br>
                    <h3>Para começar, insira número MEC da Escola</h3>
                </div>
    
                <div class="form-row">
                    <label>
                        <span>Número MEC</span>
                        <input type="email" name="mec">
                    </label>
                </div>
    
                <div class="form-row">
                    <button type="submit" class="btn-secondary">Confirmar dados</button>
                </div>
    
            </div>
    
        </div>
</form>
 
