<div class="col-lg-12">
    <div class="container">
        <div class="col-lg-2"><p></p></div>
         <div class="form-log-in-with-email col-lg-8">
            <div class="form-white-background text-center">
                <%= form_tag(save_obs_path, method: "post") do %>
                    <div class="form-title-row">
                        <h1>Adicionar observações</h1>
                    </div>
                    
                    <div class="form-row">
                        <label>
                            <!--<span></span> -->
                            <%= text_area_tag(:observacoes, @list.observacoes, { :class => "form-input"}) %>
                        </label>
                    </div>

                <div class="form_group row">
                    <%=submit_tag("Adicionar", class:"btn btn-danger") %>
                </div>
            
                <% end %>
                </div>
            </div>
            <div class="col-lg-2"><p></p></div>
        </div>
</div>







