.document {
  height: 297mm - 23mm;
  width: 210mm -21mm;
}

html{
    background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
    text-align: center;
    font-weight: 300;
}

tbody td.top_row{
    border-top: 1px solid #ddd;
}

tr.middle_row{
   /*border: 1px solid #fff;*/
}

tr.bottom_row{
    /*border-bottom:1px solid #ddd;*/
}

body {
  background-color: #fff;
}

table {
  color: #333;
  font-size: 0.9em;
  font-weight: 300;
  text-align: left;
  line-height: 25px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #000;
  width: 150mm;
  margin: 50px auto;
  border-radius: 2px;
}

thead tr:first-child {
  background: #000;
  line-height: 30px;
  border: 2px solid #000;
  color: #fff;
  text-align:center;
}



th {font-weight: bold;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

#thead tr:last-child th {
  /*border-bottom: 3px solid #ddd;*/}

tbody tr:hover {background-color: rgba(237,28,64,.1);}
tbody tr:last-child td {border: none;}
tbody td {
  /*border-bottom: 1px solid #ddd;*/}

table tbody tr td.top_row{
    /*border-bottom: 1px solid #fff;*/
}

table tbody tr td.middle_row{
    /*border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;*/
}

table tbody tr td.bottom_row{
   /* border-top: 1px solid #fff;*/
}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

table tbody tr td.middle_row_center{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    text-align: center;

}

table tbody tr td.row_center{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    text-align: left;

}