<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Lista PDF</title>
  <style>
    <%= CompassRails.sprockets.find_asset('pdf.css.scss').to_s %>
  </style>
</head>
<body class="document">
  <%= yield %>
</body>
</html>

