<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Lista PDF</title>
  <style type = "text/css">
    @import url('https://fonts.googleapis.com/css?family=Merriweather');
    body{
      font-family: 'Merriweather', sans-serif;
    }
    <%= CompassRails.sprockets.find_asset('pdf.css.scss').to_s %>
  </style>
</head>
<body class="document">
  <%= yield %>
</body>
</html>

